<footer class="page__footer" style="margin-top: 0.2rem;">
  <div class="page__footer-inner"
       style="text-align: center; padding: 0; line-height: 1;">
    <a href="https://github.com/spanghal23"
       target="_blank" rel="noopener"
       style="margin: 0 6px; display: inline-block;">
      GitHub
    </a>
    <a href="https://www.linkedin.com/in/sameer-panghal/"
       target="_blank" rel="noopener"
       style="margin: 0 6px; display: inline-block;">
      LinkedIn
    </a>
  </div>
</footer>
